<drag-scroll>
    <div class="sticky-container" (contextmenu)="onstickyMenu($event)" [ngStyle]="{zoom:!zoomScale?'100%':'150%'}">
        <div class="sticky-box note-text" cdkDrag *ngFor="let note of stickys;let id=index;"
            (mousemove)="stopProp($event)" (dblclick)="note.editMode= !note.editMode"
            [ngStyle]="{'top':(id*10)+'px','left':(id*10)+'px'}">
            <p for="" *ngIf="!note.editMode">{{note.text}}</p>
            <mat-form-field appearance="outline" *ngIf="note.editMode" style="width: 100%;">
                <textarea matInput rows="16" [(ngModel)]="note.text" (blur)="note.editMode= !note.editMode"
                    autofocus></textarea>
            </mat-form-field>
        </div>
        <div style="visibility: hidden; position: fixed" [style.left]="stickyMenuPosition.x"
            [style.top]="stickyMenuPosition.y" [matMenuTriggerFor]="stickyMenu">
        </div>
        <mat-menu #stickyMenu="matMenu">
            <ng-template matMenuContent>
                <button mat-menu-item (click)="addNewSticky()">
                    <mat-icon>add</mat-icon>
                    <span>Add Sticky</span>
                </button>
                <button mat-menu-item *ngIf="!zoomScale" (click)="zoomScale=true">
                    <mat-icon>zoom_in</mat-icon>
                    <span>Zoom In</span>
                </button>
                <button mat-menu-item *ngIf="zoomScale" (click)="zoomScale=false">
                    <mat-icon>zoom_out</mat-icon>
                    <span>Zoom Out</span>
                </button>
            </ng-template>
        </mat-menu>
    </div>

</drag-scroll>