.sticky-box {
  width: 300px;
  height: 300px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  word-break: break-all;
}

.sticky-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.content-wrapper {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.sticky-container {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  width: 2000px;
  height: 1000px;
  pointer-events: auto;
}

drag-scroll {
  width: 100%;
  height: 100%;
}

.note-text {
  white-space: initial;
}

::ng-deep div.mat-form-field-outline-start {
  border-color: 0 !important;
  border-width: 0px !important;
}

::ng-deep .mat-form-field-outline-gap {
  border-color: 0 !important;
  border-width: 0px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-color: 0 !important;
  border-width: 0px !important;
}
